/*Cabeza de Pagina*/

body{
    background-color: white;
    font-family: Bahnschrift;
}

.cabeza{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 85px;
    padding: 5px 10%;
}

.textCab{
    align-items: center;
    margin-top: 10px;
}

.cabeza .logoCab img{
    height: 80px;
    width: auto;
    transition: all 0.2s;
}

.cabeza .logoCab{
    cursor: pointer;
}

.cabeza .logoCab img:hover{
    transform: scale(1.2);
}

.btn button {
    background-color: #023E73;
    color: white;
    border: 2px solid #023E73;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn button:hover {
    background-color: white;
    color: #023E73;
    border: 2px solid #023E73;
    border-radius: 10px;
}

.contentNav{
    text-align: center;
    padding: 10px 0;
}

.contentNav .nav-links{
    list-style: none;
    justify-content: space-between;
}

.contentNav .nav-links a{
    font-family: 'Bahnschrift', sans-serif; font-weight: bold;
    font-size: 700;
    color: black;
    text-decoration: none;
    transition: all;
}

.nav-links li a:hover {
    color: #007D32;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
    margin: 0 50px;
}

.lines-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.line {
    flex: 1; 
    height: 8px; 
}

.line.red {
    background-color: #023E73; 
}

.line.yellow {
    background-color: #F0AC00; 
}

.line.blue {
    background-color: #007D32; 
}

/*Cuerpo*/
.C1{
    color: aliceblue;
    background-color: #007D32;
    width: auto;
    padding-right: 20px;
    padding-bottom: 70px;
    
}

.C2{
    color: aliceblue;
    background-color: #F0AC00;
    width: auto;
    padding-right: 20px;
}

.C3{
    color: aliceblue;
    background-color: #023E73; 
    width: auto;
    height: 484px;
    padding: 10%;
    padding-right: 20px;
}

.TexCen{
    padding: 60px;
    text-align: center; 
    align-items: center;
    height: auto;
}

.ImgEdit{
    height: 484px;
    width: auto;
}

.pEdit{
    text-align: justify,center; 
    display: inline-block;
    vertical-align: top;

}
